<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de - OCR Chile</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
</head>
<body>
    <header>
        <h1>Acerca de OCR Chile</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="acerca.html">Acerca de</a></li>
                <li><a href="contenido.html">Contenido</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>¿Qué es este sitio?</h2>
        <p>Este sitio está diseñado para dar a conocer el OCR en Chile. Las carreras de obstáculos OCR (por las siglas de su nombre inglés Obstacles Courses Racing) es un deporte en el que los competidores deben superar varios desafíos físicos en forma de obstáculos. Estos incluyen escalar paredes, transportar objetos pesados, atravesar cuerpos de agua, gatear debajo del alambre de púas y saltar a través del fuego. Muchos obstáculos son similares a los utilizados durante el entrenamiento militar, mientras que otros son exclusivos de las carreras de obstáculos y se emplean para evaluar resistencia, fuerza, velocidad y destreza. </p>
        <p>Las carreras varían en cuanto a dificultad y distancia. En algunos eventos se combinan con carreras de trail, de pista o cross-country.</p>
        <img src="../assets/imgs/ocr2.png">
    </section>

    <footer>
        <p>2024 OCR Chile</p>
    </footer>
</body>
</html>