<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenido - OCR Chile</title>
    <link rel="stylesheet" href="../assets/styles/contenido.css">
</head>
<body>
    <header>
        <h1>Contenido de OCR Chile</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="acerca.html">Acerca de</a></li>
                <li><a href="contenido.html">Contenido</a></li>
            </ul>
        </nav>
    </header>

    <section class="grid-container">
        <div class="espacio">
            <img src="../assets/imgs/spartan.png" alt="Spartan Race">
            <h3>Spartan Race</h3>
            <p>Se realiza desde el 2014 en Chile y todos los años presenta al menos 2 fechas que pueden incluir distancias desde los 5 a los 21 kilómetros con 20 a 30 obstáculos.</p>
        </div>
        <div class="espacio">
            <img src="../assets/imgs/beast.png" alt="Beast Race">
            <h3>Beast Race</h3>
            <p>Se realiza desde el 2022 en Chile, se realiza en la región Del Maule, generalmente en Talca y presenta modalidades recreativa y competitiva, entre 5 y 10 kilómetros con obstáculos. Además últimamente se agregó la modalidad ninja, 100 metros con obstáculos.</p>
        </div>
        <div class="espacio">
            <img src="../assets/imgs/vikingo.png" alt="Desafío Vikingo">
            <h3>Desafío Vikingo</h3>
            <p>Se realiza desde el 2021 en Chile y presenta modalidades recreativa, competitiva e inclusiva, entre 5 y 12 kilómetros con obstáculos.</p>
        </div>
        <div class="espacio">
            <img src="../assets/imgs/barbaros.png" alt="Bárbaros">
            <h3>Bárbaros</h3>
            <p>Se realiza desde el 2023 en Chile, se realiza en Curicó y presenta modalidades recreativa y competitiva, entre 5 y 12 kilómetros con obstáculos.</p>
        </div>
        <div class="espacio">
            <img src="../assets/imgs/arena.png" alt="Arena OCR">
            <h3>Arena OCR</h3>
            <p>Se realiza desde el 2022 en Chile, se realiza en las dependencias de OCR Camp, un centro de entrenamiento con varias sedes en Santiago. Es una versión más corta y con menor kilometraje, pero con harta exigencia en términos de obstáculos y fitness.</p>
        </div>
    </section>

    <footer>
        <p>2024 OCR Chile</p>
    </footer>
</body>
</html>