<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Sitio Web</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
</head>
<body>
    <header>
        <h1>OCR Chile</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="acerca.html">Acerca de</a></li>
                <li><a href="contenido.html">Contenido</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Introducción</h2>
        <p>Este es un sitio web sobre las carreras con obstáculos (OCR) en Chile.</p>
        <img src="../assets/imgs/ocr1.png">
    </section>

    <footer>
        <p>2024 OCR Chile</p>
    </footer>
</body>
</html>